<nav class="navbar navbar-expand-lg bg-body-tertiary navbar-dark bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand" href="index.html"><i class="fa-solid fa-shrimp"></i> WEBD6201</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="index.html"><i class="fa-solid fa-house"></i> Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="views/content/products.html"><i class="fa-solid fa-laptop"></i> Products</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="views/content/services.html"><i class="fa-solid fa-store"></i> Services</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="views/content/about.html"><i class="fa-solid fa-address-card"></i> About Us</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="views/content/contact.html"><i class="fa-solid fa-phone"></i> Contact Us</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="views/content/login.html"><i class="fa-solid fa-right-to-bracket"></i> Login</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="views/content/register.html"><i class="fa-solid fa-clipboard"></i> Register</a>
        </li>
      </ul>
    </div>
  </div>
</nav>